@import "tailwindcss";

:root {
  font-family: "Public Sans", serif;
}

@theme {
  /* beige */
  --color-beige500: hsl(23, 6%, 57%);
  --color-beige100: hsl(30, 36%, 96%);

  /* grey */
  --color-grey900: hsl(252, 7%, 13%);
  --color-grey500: hsl(0, 0%, 41%);
  --color-grey300: hsl(0, 0%, 70%);
  --color-grey100: hsl(0, 0%, 95%);

  /* Secondary colors */
  --color-green: hsl(177, 52%, 32%);
  --color-yellow: hsl(28, 73%, 81%);
  --color-cyan: hsl(190, 52%, 68%);
  --color-navy: hsl(248, 8%, 41%);
  --color-red: hsl(7, 58%, 50%);
  --color-purple-secondary: hsl(259, 30%, 56%);

  /* Other colors */
  --color-purple-tertiary: hsl(288, 29%, 62%);
  --color-turquoise: hsl(180, 16%, 42%);
  --color-brown: hsl(21, 30%, 44%);
  --color-magenta: hsl(332, 30%, 44%);
  --color-blue: hsl(205, 48%, 47%);
  --color-navy-grey: hsl(214, 11%, 63%);
  --color-army-green: hsl(83, 20%, 47%);
  --color-gold: hsl(47, 50%, 59%);
  --color-orange: hsl(18, 47%, 52%);
}